<!-- FiltroEControlesComponent.razor -->
<div class="row g-3 align-items-center adicionaEspaco bordered-div">

    <div class="col-md-auto">
        <button type="button" class="btn btn-outline-success custom-btn" @onclick="Inserir">Inserir</button>
        <button type="button" class="btn btn-outline-danger custom-btn" @onclick="Excluir" disabled="@(!BotaoExcluirHabilitado)">Excluir</button>
    </div>
    
    <div class="col-md-auto">
        <label for="filtro" class="col-form-label">Filtrar:</label>
    </div>
    <div class="col-md-auto">
        <input type="text" class="form-control" id="filtro" @bind="@Filtro" />
    </div>
    <div class="col-md-auto">
        <button class="btn btn-primary" @onclick="AplicarFiltro">Aplicar</button>
    </div>


</div>

@code {
    [Parameter] public string Filtro { get; set; }
    [Parameter] public EventCallback<string> OnFiltroChanged { get; set; }

    [Parameter] public EventCallback Inserir { get; set; }
    [Parameter] public EventCallback Excluir { get; set; }
    [Parameter] public bool BotaoExcluirHabilitado { get; set; }

    private async Task AplicarFiltro()
    {
        await OnFiltroChanged.InvokeAsync(Filtro);
    }
}
