<div class="col-12 grupo-botoes">
    <button type="button" class="customizado-btn customizado-btn-pesquisar" @onclick="OnCancel">Cancelar</button>
    <button type="submit" class="customizado-btn customizado-btn-inserir">Salvar</button>
</div>

@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }

    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }

    private async Task HandleSave()
    {
        if (OnSave.HasDelegate)
        {
            await OnSave.InvokeAsync();
        }
    }
}