<div class="col-12 GrupoBotoes">
    <button type="button" class="BotaoCustomizado BotaoCustomizado-pesquisar" @onclick="OnCancel">
        <ion-icon name="exit-outline"></ion-icon>
        Cancelar
    </button>
    <button type="submit" class="BotaoCustomizado BotaoCustomizado-inserir">
        <ion-icon name="save-outline"></ion-icon>
        Salvar
    </button>
</div>

@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }

    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }

    private async Task HandleSave()
    {
        if (OnSave.HasDelegate)
        {
            await OnSave.InvokeAsync();
        }
    }
}