<div class="adicionaEspaco  tabelaLargura adicionarCorInterna">
    <div class="col-md-auto ">
 
@*         @if (HabilitaBotaoAlterar)
        {
            <button class="adicionarAjusteBotaoFiltro botaoCustomizado botaoCustomizadoAlterar" @onclick="OnAlterar">
                <ion-icon name="create-outline"></ion-icon>
                Alterar
            </button>
        }

        @if (HabilitaBotaoExcluir)
        {
            <button class="adicionarAjusteBotaoFiltro botaoCustomizado botaoCustomizadoExcluir" @onclick="OnExcluir">
                <ion-icon name="trash-outline"></ion-icon>
                Excluir
            </button>
        }

        @if (HabilitaBotaoFormulario)
        {
            <button class="adicionarAjusteBotaoFiltro botaoCustomizado botaoCustomizadoPagina @(!HabilitaBotaoFormulario ? "botaoEscondido" : "")" @onclick="OnSquad">
                <ion-icon name="browsers-outline"></ion-icon>
                Squad
            </button>
        } *@

        <button class="botaoCustomizado botaoCustomizadoAlterar  @(!HabilitaBotaoAlterar ? "botaoEscondido" : "")" @onclick="OnAlterar">
            <ion-icon class="botaoCustomizadoIcone" name="create-outline"></ion-icon>
            Alterar
        </button>
    
        <button class="botaoCustomizado botaoCustomizadoExcluir @(!HabilitaBotaoExcluir ? "botaoEscondido" : "" )" @onclick="OnExcluir">
            <ion-icon class="botaoCustomizadoIcone" name="trash-outline"></ion-icon>
            Excluir
        </button>

        <button class="botaoCustomizado botaoCustomizadoPagina @(!HabilitaBotaoSquad ? "botaoEscondido" : "")" @onclick="OnSquad">
            <ion-icon class="botaoCustomizadoIcone" name="browsers-outline"></ion-icon>
            Squad
        </button>

    </div>
</div>

@code {
    [Parameter] public bool HabilitaBotaoAlterar { get; set; }
    [Parameter] public EventCallback OnAlterar { get; set; }
    [Parameter] public bool HabilitaBotaoExcluir { get; set; }
    [Parameter] public EventCallback OnExcluir { get; set; }
    [Parameter] public bool HabilitaBotaoSquad { get; set; }
    [Parameter] public EventCallback OnSquad { get; set; }
}