<!-- FiltroEControlesComponent.razor -->
<div class="row g-1  adicionaEspaco bordered-div">

    <div class="col-md-auto">
        <div class="espaco-entre-botao">
            <button type="button" class="btn customizado-btn customizado-btn-inserir" @onclick="Inserir">Inserir</button>
            <button type="button" class="btn customizado-btn customizado-btn-excluir" @onclick="Excluir" disabled="@(!BotaoExcluirHabilitado)">Excluir</button>
        </div>

    </div>


</div>

@code {
    [Parameter] public EventCallback Inserir { get; set; }
    [Parameter] public EventCallback Excluir { get; set; }
    [Parameter] public bool BotaoExcluirHabilitado { get; set; }
}
