@if (!string.IsNullOrWhiteSpace(Erro))
{
    <div class="alert alert-danger fontePersonalizada" role="alert">
        @Erro
    </div>
}

@if (!string.IsNullOrWhiteSpace(Sucesso))
{
    <div class="alert alert-success fontePersonalizada" role="alert">
        @Sucesso
    </div>
}

@code {
    [Parameter] public string Sucesso { get; set; }
    [Parameter] public string Erro { get; set; }
}
