

<div class="adicionaEspaco adicionarBorda tabelaLargura adicionarCorInterna">
@*     <div class="col-md-auto">
        <label for="filtro" class="col-form-label">Filtrar:</label>
    </div>
    <div class="col-md-auto">
        <input type="text" class="form-control" id="filtro" @bind="@Filtro" />
    </div> *@

 
    <div class="form-floating col-6">
        <input type="text" class="form-control tamanho-fonte-input" id="filtro" @bind="@FiltroNome" placeholder="Descreva o nome do projeto" />
        <label for="nomeProjeto">Nome ou descrição</label>

    </div>
    

 

    <div class="adicionaEspaco  tabelaLargura adicionarCorInterna botaoFiltrar">
        <div class="col-md-auto">
            <button class="botaoCustomizado botaoCustomizadoPesquisar" @onclick="AplicarFiltro">
                <ion-icon class="botaoCustomizadoIcone" name="funnel-outline"></ion-icon>
                Filtrar
                </button>
        </div>
    </div>

 
</div>

@code {
    [Parameter] public string FiltroNome { get; set; }
    [Parameter] public EventCallback<string> OnFiltroChanged { get; set; }


    private async Task AplicarFiltro()
    {
        await OnFiltroChanged.InvokeAsync(FiltroNome);
    }
}
