
<div class="row g-1  adicionaEspaco borda-divisao">
    <div class="col-md-auto">
        <button type="button" class="customizado-btn customizado-btn-inserir" @onclick="Inserir">Inserir</button>
        <button type="button" class="customizado-btn customizado-btn-excluir" @onclick="Excluir" disabled>Excluir</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback Inserir { get; set; }
    [Parameter] public EventCallback Excluir { get; set; }
    [Parameter] public bool BotaoExcluirHabilitado { get; set; }
}
