
<div class="AdicionaEspaco AdicionarBorda TabelaLargura AdicionarCorInterna">
    <div class="col-md-auto">
        <button type="button" class="BotaoCustomizado BotaoCustomizado-inserir" @onclick="Inserir">

            <ion-icon class="BotaoCustomizadoIcone" name="add-circle-outline"></ion-icon> Inserir
        </button>
        <button type="button" class="BotaoCustomizado BotaoCustomizado-excluir" @onclick="Excluir" disabled>
            <ion-icon class="BotaoCustomizadoIcone" name="trash-outline"></ion-icon>
            Excluir
        </button>
 
    </div>
</div>

@code {
    [Parameter] public EventCallback Inserir { get; set; }
    [Parameter] public EventCallback Excluir { get; set; }
    [Parameter] public bool BotaoExcluirHabilitado { get; set; }
}
