
<div class="informacao-Carregando fontePersonalizada">
    <p>@LoadingMessage</p>
</div>


@code {
    [Parameter]
    public string LoadingMessage { get; set; } = "Carregando..."; // Mensagem padrão
}