<div class="AdicionaEspaco  TabelaLargura AdicionarCorInterna">
    <div class="col-md-auto ">
 
@*         @if (HabilitaBotaoAlterar)
        {
            <button class="AdicionarAjusteBotaoFiltro BotaoCustomizado BotaoCustomizado-alterar" @onclick="OnAlterar">
                <ion-icon name="create-outline"></ion-icon>
                Alterar
            </button>
        }

        @if (HabilitaBotaoExcluir)
        {
            <button class="AdicionarAjusteBotaoFiltro BotaoCustomizado BotaoCustomizado-excluir" @onclick="OnExcluir">
                <ion-icon name="trash-outline"></ion-icon>
                Excluir
            </button>
        }

        @if (HabilitaBotaoFormulario)
        {
            <button class="AdicionarAjusteBotaoFiltro BotaoCustomizado BotaoCustomizado-pagina @(!HabilitaBotaoFormulario ? "btn-escondido" : "")" @onclick="OnSquad">
                <ion-icon name="browsers-outline"></ion-icon>
                Squad
            </button>
        } *@

    
        <button class="BotaoCustomizado BotaoCustomizado-alterar" @onclick="OnAlterar">
            <ion-icon name="create-outline"></ion-icon>
            Alterar
        </button>
        <button class="BotaoCustomizado BotaoCustomizado-excluir" @onclick="OnExcluir">
            <ion-icon name="trash-outline"></ion-icon>
            Excluir
        </button>
        <button class="BotaoCustomizado BotaoCustomizado-pagina @(!HabilitaBotaoFormulario ? "btn-escondido" : "")" @onclick="OnSquad">
            <ion-icon name="browsers-outline"></ion-icon>
            Squad
        </button>
    </div>
</div>

@code {
    [Parameter] public bool HabilitaBotaoAlterar { get; set; }
    [Parameter] public EventCallback OnAlterar { get; set; }
    [Parameter] public bool HabilitaBotaoExcluir { get; set; }
    [Parameter] public EventCallback OnExcluir { get; set; }
    [Parameter] public bool HabilitaBotaoFormulario { get; set; }
    [Parameter] public EventCallback OnSquad { get; set; }
}