@* Components/ConfirmModal.razor *@
<div class="modal fade" id="@ModalId" tabindex="-1" aria-labelledby="@ModalLabelId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@ModalLabelId"> @Title </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" @onclick="OnConfirm">Sim</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string ModalId { get; set; }
    [Parameter] public string ModalLabelId { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Body { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
}
