<div class="top-row ps-3 navbar navbar-dark fonteTamanhoMenu">
    <div class="container-fluid">
        <a class="navbar-brand" >Gestão de projeto web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>





<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link fonteTamanhoMenu" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true">
                    <ion-icon class="iconePaginaMenu" name="home-outline"></ion-icon>
                </span> 
                Home
            </NavLink>
        </div>
 
        <div class="nav-item px-3">
            <NavLink class="nav-link fonteTamanhoMenu" href="Projeto/ProjetoGrid">
                <span class="oi  ">  
                    <ion-icon class="iconePaginaMenu" name="browsers-outline"></ion-icon> 
                </span>
                Projetos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link fonteTamanhoMenu" href="Squad/SquadGrid">
                <span class="oi  ">  
                    <ion-icon class="iconePaginaMenu"  name="browsers-outline"></ion-icon> 
                </span>
                Squads
            </NavLink>
        </div>


 
    </nav>
</div>






@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
