@* @page "/"
@namespace GestaoDeProjetoWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />
 *@


@page "/"
@namespace GestaoDeProjetoWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@try
{
    <component type="typeof(App)" render-mode="ServerPrerendered" />
}
catch (Exception ex)
{
    <p>Erro: @ex.Message</p>
    // Adicione mais detalhes ou registros de exceção conforme necessário
}
