@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem-vindo ao Nosso Sistema!</h1>
<p>Estamos felizes em vê-lo por aqui. Este é o seu novo ambiente digital.</p>
<p>Fique à vontade para explorar e aproveitar ao máximo as funcionalidades do sistema. A gestão de projetos é essencial em praticamente todas as indústrias e tipos de organizações, pois permite que projetos sejam concluídos com sucesso, proporcionando valor aos stakeholders e contribuindo para o crescimento e a sustentabilidade das organizações.</p>


<div class="row">
    <div class="col-md-4">
        <h3>Objetivo</h3>
        <p>A gestão de projetos é uma disciplina que envolve a aplicação de conhecimentos, habilidades, ferramentas e técnicas para planejar, executar, monitorar, controlar e encerrar projetos de maneira eficiente e eficaz. O objetivo principal é atingir as metas específicas do projeto dentro dos prazos, orçamentos e requisitos de qualidade definidos.</p>
    </div>
    <div class="col-md-4">
        <h3>Meta</h3>
        <p>
            Iniciação:
            Definição do projeto.
            Identificação dos stakeholders.
            Criação de um termo de abertura do projeto (project charter).

            Planejamento:
            Desenvolvimento do plano de projeto detalhado.
            Definição do escopo, cronograma e orçamento.
            Identificação de riscos e planejamento de respostas.
            Alocação de recursos.

            Execução:
            Coordenação de pessoas e recursos.
            Gestão da equipe e comunicação com stakeholders.
            Implementação do plano de projeto.

            Monitoramento e Controle:
            Acompanhamento do progresso do projeto.
            Comparação do desempenho real com o planejado.
            Implementação de ações corretivas quando necessário.
            Gerenciamento de mudanças.

            Encerramento:
            Finalização das atividades do projeto.
            Entrega dos resultados finais aos stakeholders.
            Realização de uma avaliação pós-projeto.
            Documentação das lições aprendidas.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Benefícios</h3>
        <p>
            Benefícios da Gestão de Projetos
            Organização e Foco: Ajuda a manter todos os membros da equipe alinhados com os objetivos e prioridades do projeto.
            Controle de Custos: Facilita a gestão e o controle do orçamento, evitando custos excessivos.
            Gestão de Riscos: Identifica e mitiga riscos que podem afetar o sucesso do projeto.
            Qualidade: Assegura que o resultado final atenda aos critérios de qualidade definidos.
            Satisfação do Cliente: Aumenta a probabilidade de entregar um produto ou serviço que satisfaça as expectativas dos clientes e stakeholders.
            Ferramentas e Técnicas
            Diagramas de Gantt: Para planejar e monitorar cronogramas.
            Método do Caminho Crítico (CPM): Para identificar tarefas críticas que podem afetar a data de término do projeto.
            Análise SWOT: Para identificar forças, fraquezas, oportunidades e ameaças.
            Metodologias Ágeis (como Scrum e Kanban): Para projetos que requerem flexibilidade e adaptação rápida.
            Software de Gerenciamento de Projetos: Como Microsoft Project, Trello, Asana, Jira, entre outros.
            Certificações e Padrões
            PMI (Project Management Institute): Oferece a certificação PMP (Project Management Professional), que é amplamente reconhecida.
            PRINCE2 (Projects IN Controlled Environments): Uma metodologia de gerenciamento de projetos baseada em processos.
            ISO 21500: Fornece orientação sobre conceitos e processos de gerenciamento de projetos.
        </p>
    </div>
</div>

<div class="menu">
@*     <div class="menu-row">
        <a href="#" class="menu-item"> Empresa </a>
        <a href="#" class="menu-item"> Usuário </a>
        <a href="#" class="menu-item"> Perfíl </a>
        <a href="#" class="menu-item"> Grupo </a>
        <a href="#" class="menu-item">Função</a>
    </div>  
     <div class="menu-row">
        <a href="#" class="menu-item">Ativo</a>
        <a href="#" class="menu-item">Defeitos</a>
        <a href="#" class="menu-item">Checklist item</a>
        <a href="#" class="menu-item">Checklist ativo</a>
        <a href="#" class="menu-item">Local</a>
    </div>
    <div class="menu-row">
        <a href="#" class="menu-item">Solicitação serviço</a>
        <a href="#" class="menu-item">Ordem de serviço</a>
        <a href="#" class="menu-item">Chat</a>
        <a href="#" class="menu-item">Relatório</a>
        <a href="#" class="menu-item">Auditoria</a>
    </div> *@
</div>

    <style>

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .menu-item:hover {
            background-color: #ccc;
        }


    .menu-row {
        display: flex;
        justify-content: space-around;
        width: 100%; /* Definir a largura total */
        margin-bottom: 20px; /* Espaçamento inferior entre as linhas */
        flex: 1;
    }

    .menu-item {
        flex: 1; /* Distribui igualmente a largura entre os itens */
        text-align: center;
        padding: 2vw 4vw;
        margin: 0 10px;
           margin-bottom: 10px; /* Espaçamento entre os itens */


/*        margin-bottom: 10px 10px; /* Espaçamento entre os itens */
 
        background-color: #f0f0f0;
        text-decoration: none;
        color: #333;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

     /*   .menu-row {
            display: flex;
            justify-content: center;
             margin-bottom: 2vw; 

        }

        .menu-item {
            display: block;

            padding: 2vw 4vw;
            margin: 0 2vw;

            background-color: #f0f0f0;
            text-decoration: none;
            color: #333;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }*/

</style>