@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem-vindo ao Nosso Sistema!</h1>
<p>Estamos felizes em vê-lo por aqui. Este é o seu novo ambiente digital.</p>
<p>Fique à vontade para explorar e aproveitar ao máximo as funcionalidades do sistema.</p>


<div class="row">
    <div class="col-md-4">
        <h3>Objetivo</h3>
        <p>Nosso objetivo é fornecer uma plataforma intuitiva e eficiente para atender às suas necessidades.</p>
    </div>
    <div class="col-md-4">
        <h3>Meta</h3>
        <p>Nossa meta é oferecer soluções inovadoras e práticas para facilitar suas atividades diárias.</p>
    </div>
    <div class="col-md-4">
        <h3>Seja Bem-Vindo!</h3>
        <p>Seja bem-vindo ao nosso sistema. Estamos aqui para ajudar e proporcionar uma ótima experiência.</p>
    </div>
</div>

<div class="menu">
    <div class="menu-row">
        <a href="#" class="menu-item"> Empresa </a>
        <a href="#" class="menu-item"> Usuário </a>
        <a href="#" class="menu-item"> Perfíl </a>
        <a href="#" class="menu-item"> Grupo </a>
        <a href="#" class="menu-item">Função</a>
    </div>
    <div class="menu-row">
        <a href="#" class="menu-item">Ativo</a>
        <a href="#" class="menu-item">Defeitos</a>
        <a href="#" class="menu-item">Checklist item</a>
        <a href="#" class="menu-item">Checklist ativo</a>
        <a href="#" class="menu-item">Local</a>
    </div>
    <div class="menu-row">
        <a href="#" class="menu-item">Solicitação serviço</a>
        <a href="#" class="menu-item">Ordem de serviço</a>
        <a href="#" class="menu-item">Chat</a>
        <a href="#" class="menu-item">Relatório</a>
        <a href="#" class="menu-item">Auditoria</a>
    </div>
</div>

    <style>

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .menu-item:hover {
            background-color: #ccc;
        }


    .menu-row {
        display: flex;
        justify-content: space-around;
        width: 100%; /* Definir a largura total */
        margin-bottom: 20px; /* Espaçamento inferior entre as linhas */
        flex: 1;
    }

    .menu-item {
        flex: 1; /* Distribui igualmente a largura entre os itens */
        text-align: center;
        padding: 2vw 4vw;
        margin: 0 10px;
           margin-bottom: 10px; /* Espaçamento entre os itens */


/*        margin-bottom: 10px 10px; /* Espaçamento entre os itens */
 
        background-color: #f0f0f0;
        text-decoration: none;
        color: #333;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

     /*   .menu-row {
            display: flex;
            justify-content: center;
             margin-bottom: 2vw; 

        }

        .menu-item {
            display: block;

            padding: 2vw 4vw;
            margin: 0 2vw;

            background-color: #f0f0f0;
            text-decoration: none;
            color: #333;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }*/

</style>